<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <h3>Your upcoming trips</h3>
      <ion-item-divider></ion-item-divider>
      <div class="trips-area">
        <ion-card *ngFor="let trip of trips" (click)="goToRental(trip)">
          <ion-card-header>
            <ion-card-subtitle>{{trip.dates}}</ion-card-subtitle>
            <img src="{{trip.rental.getCoverPhoto()}}">
            <ion-card-title>{{trip.rental.location}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{trip.rental.name}}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-button expand="block" id="find-homes" (click)="goToExplore()">Explore</ion-button>
    </div>
  </div>
</ion-content>