.content-area {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.content-parent {
  margin-top: 2%;
  text-align: center;
}

.block {
  display: block;
}

.trips-area {
  height: 25em;
  overflow-y: scroll;
}