.content-area {
  min-width: 50%;
  display: inline-block;
  text-align: left;
  margin: 0% 10%;
}

.content-parent {
  margin-top: 2%;
  text-align: center;
}

.block {
  display: block;
}

.saved-homes-section {
  height: 24em;
  overflow-y: scroll;
}

ion-card {
  width: 15em;
  margin: 1em 0;
  height: 24.6em;
  overflow-y: scroll;
}

ion-card:hover {
  box-shadow: 0 8px 6px -6px black;
}
