<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <p>When you save homes, they will appear here. Try searching for homes and saving them when you find them!</p>
      <ion-item-divider></ion-item-divider>
      <div class="saved-homes-section">
        <h3>Your saved homes</h3>
      </div>
      <ion-button expand="block" id="find-homes">Find Homes</ion-button>
    </div>
  </div>
</ion-content>