<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <p>When you save homes, they will appear here. Try searching for homes and saving them when you find them!</p>
      <ion-item-divider></ion-item-divider>
      <div class="saved-homes-section">
        <h3>Your saved homes</h3>
        <ion-list>
          <ion-item *ngFor="let save of saved">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{save.hostName}}</ion-card-subtitle>
                <img src="{{save.getCoverPhoto()}}">
                <ion-card-title>{{save.location}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                $ {{save.price}}. {{save.name}}
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
      <ion-button expand="block" id="find-homes" (click)="goToExplore()">Find Homes</ion-button>
    </div>
  </div>
</ion-content>