.content-area {
  width: 50%;
  display: inline-block;
}

.content-parent {
  margin-top: 2%;
  text-align: center;
}

.chip-icon {
  margin-right: 1%;
}

.info-section {
  text-align: left;
}

ion-avatar {
  margin: auto;
}

.icon {
  margin-right: 2%;
}

.block {
  display: block;
}

.about-line {
  display: block;
  margin: 1% 0%;
}

ion-card {
  width: 100%;
}

ion-card:hover {
  box-shadow: 0 8px 6px -6px black;
} 
