<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <ion-avatar>
        <img src="assets/JacobBegemann.jpg">
      </ion-avatar>
      <h1>{{firstName}} {{lastName}}</h1>
      <p>Joined in 2019</p>
      <div class="about-line">
        <ion-icon name="heart" class="icon"></ion-icon>
        <ion-label>
          {{numReviews}} Reviews
        </ion-label>
      </div>
      <div class="about-line">
        <ion-icon name="home" class="icon"></ion-icon>
        <ion-label>
          {{numBookings}} Bookings
        </ion-label>
      </div>
      <ion-item-divider></ion-item-divider>
      <div class="info-section">
        <h3>About</h3>
        <div class="about-line">
          <ion-icon name="home" class="icon"></ion-icon>
          <ion-label class="about-item">Lives in {{location}}</ion-label>
        </div>
        <div class="about-line">
          <ion-icon name="checkmark" class="icon"></ion-icon>
          <ion-label class="about-item">Verified</ion-label>
        </div>
        <ion-item-divider></ion-item-divider>
        <h3>{{firstName}} provided</h3>
        <div class="about-line">
          <ion-icon name="checkmark-circle-outline" class="icon"></ion-icon>
          <ion-label>Email</ion-label>
        </div>
        <div class="about-line">
          <ion-icon name="checkmark-circle-outline" class="icon"></ion-icon>
          <ion-label>Phone</ion-label>
        </div>
        <ion-item-divider></ion-item-divider>
        <h3>Reviews</h3>
      </div>
    </div>
  </div>
</ion-content>