<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-parent">
    <div class="content-area">
      <h3>Your inbox</h3>
      <p id="nnm" *ngIf="messages">You have {{messages.length}} new messages.</p>
      <ion-item-divider></ion-item-divider>
      <div class="messages-area">
        <ion-list>
          <ion-card *ngFor="let message of messages">
            <ion-card-header>
              <ion-card-subtitle>{{message.time}}</ion-card-subtitle>
              <ion-card-title>{{message.sender.firstName}} {{message.sender.lastName}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{message.text}}
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <ion-button expand="block" id="find-homes">New Conversation</ion-button>
    </div>
  </div>
</ion-content>